.container {
  align-items: center;
  background-color: orange;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-nano);
  padding: var(--spacing-nano) 0;
  position: sticky;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: var(--depth-five);
}

.menu-and-account {
  display: flex;
  justify-content: space-between;
  padding: 0 var(--spacing-xxs);
  width: 100%;
}

.account-section {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.account-section p {
  font-size: var(--font-size-md);
}

.account-section p span {
  font-weight: var(--font-weight-regular);
}

.select-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.select {
  background-color: rgb(249 250 251);
  border-color: rgb(209 213 219);
  border-radius: var(--border-radius-sm);
  border-width: var(--border-width-hairline);
  color: rgb(17 24 39);
  display: block;
  font-size: var(--font-size-sm);
  padding: var(--spacing-nano);
  text-align: center;
  width: 50%;
}

.select:focus {
  border-color: rgb(59 130 246);
  box-shadow: inset 0 0 0 2px rgb(59 130 246);
}
