.container {
  background-color: orange;
  padding: var(--spacing-xxxs) 0;
  position: sticky;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: var(--depth-five);
}

.title {
  font-size: var(--font-size-lg);
  margin: 0;
}
